#captcha {
		width: 250px;
		height: 60px;
		border: 2px solid lightgray;
}

#square-start {
		width: 40px;
		height: 40px;
		display: inline-block;
		border-radius: 5px;
		margin-right: 10px;
		border-width: 2px;
}

#robot-span {
		position: absolute;
		margin-top: 5px;
		margin-left: 10px;
}

#loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #00AB66; /* Blue */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1.5s linear infinite;
	display: none;
	margin-right: 10px;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }


#task-done {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border: 8px solid #00AB66;
	background-color: transparent;
	border-radius: 50%;
	display: none;
}