{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}

<div class="row" id="dashboard-quickstats">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">All hashes in database</h5>
                <p class="card-text">{{ data['all_hashes_num'] }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body primary">
                <h5 class="card-title">Cracked hashes</h5>
                <p class="card-text">{{ data['cracked_hashes'] }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tasks completed</h5>
                <p class="card-text">{{ data['tasks_completed'] }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hashes calculated</h5>
                <p class="card-text">{{ data['all_hashes'] }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}